@model RussellGroup.Pims.DataAccess.Models.Job
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}
@section head {
    @Styles.Render("~/Content/typeahead")
}

<h3>@ViewBag.Title</h3>
<h4>@Model.XJobId</h4>
<h5>@Model.Description</h5>

@Html.Partial("_Form")

@section scripts {
    @Scripts.Render("~/bundles/typeahead")
    <script>
        wire('ProjectManager', '@Url.Content("~/Job/GetProjectManagerSuggestions?q=%QUERY")');
        wire('QuantitySurveyor', '@Url.Content("~/Job/GetQuantitySurveyorSuggestions?q=%QUERY")');
    </script>
}
