@model IEnumerable<RussellGroup.Pims.DataAccess.Models.Job>

@{
    ViewBag.Title = "Jobs";
}
@section head {
    @Styles.Render("~/Content/jquery.datatable.css")
}

<h2>@ViewBag.Title</h2>

@if (User.IsAuthorized(Role.CanEdit))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}
<table class="table display table-striped table-hover order-column table-responsive" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.XJobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenEnded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManager)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts {
    @Scripts.Render("~/bundles/jquery.datatable.js")
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "order": [[3, "desc"]],
                "processing": true,
                "stateSave": true,
                "paginationType": 'full',
                "serverSide": true,
                "ajax": "@Url.Content("~/Job/GetDataTableResult")",
                "columns": [
                    { "data": "Id", "visible": false },
                    { "data": "XJobId" },
                    { "data": "Description" },
                    { "data": "WhenStarted" },
                    { "data": "WhenEnded" },
                    { "data": "ProjectManager" },
                    { "data": "CrudLinks", "sortable": false, "className": "text-center" }
                ]
            });
        });
    </script>
}