@model IEnumerable<RussellGroup.Pims.DataAccess.Models.Job>
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}
@section head {
    @Styles.Render("~/Content/datatables")
}

<h3>@ViewBag.Title</h3>

@if (User.IsAuthorized(Role.CanEdit))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}
<table class="table display table-striped table-hover order-column table-responsive" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.XJobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenEnded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManager)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $('.table').DataTable({
            "order": [[3, "desc"]],
            "processing": true,
            "stateSave": true,
            "pagingType": 'full',
            "serverSide": true,
            "ajax": "@Url.Content("~/Job/GetDataTableResult")",
            "columns": [
                { "data": "Id", "visible": false },
                { "data": "XJobId" },
                { "data": "Description" },
                { "data": "WhenStarted" },
                { "data": "WhenEnded" },
                { "data": "ProjectManager" },
                { "data": "CrudLinks", "sortable": false, "className": "text-right" }
            ]
        });
    </script>
}