@model RussellGroup.Pims.DataAccess.Models.Category

<h2>Category</h2>

<div>
    <h4>@SiteMaps.Current.CurrentNode.Title</h4>
    <hr />

    @if (@Html.IsAction("Delete"))
    {
        if (!Model.CanDelete)
        {
            <div class="alert alert-info">
                <h4>Cannot delete</h4>
                <p>This category cannot be deleted because it has plant or inventory items associated to it. Change the category in each plant and inventory item to some other category to be able to delete this.</p>
            </div>
        }
        else
        {
            <h3>Are you sure you want to delete this category?</h3>
        }
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plants.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventories.Count)
        </dd>
    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            @using (Html.BeginForm())
            {
                if (User.IsAuthorized(Role.CanEditCategories))
                {
                    if (Html.IsAction("Details"))
                    {
                        <text>@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | </text>
                    }
                    else if (Model.CanDelete)
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <text>&nbsp;</text>
                    }
                }
                @Html.ActionLink("Cancel", "Index")
            }
        </dd>
    </dl>
</div>
