@model RussellGroup.Pims.DataAccess.Models.Category
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}
@section head {
    @Styles.Render("~/Content/typeahead")
}

<h3>@ViewBag.Title</h3>

@Html.Partial("_Form")

@section scripts {
    @Scripts.Render("~/bundles/typeahead")
    <script>
        wire('Type', '@Url.Content("~/Category/GetTypeSuggestions?q=%QUERY")');
    </script>
}
