@model IEnumerable<RussellGroup.Pims.DataAccess.Models.Category>
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}
@section head {
    @Styles.Render("~/Content/datatables")
}

<h3>@ViewBag.Title</h3>

@if (User.IsAuthorized(Role.CanEditCategories))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}
<table class="table display table-striped table-hover order-column table-responsive" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $('.table').DataTable({
            "order": [[1, "asc"]],
            "processing": true,
            "stateSave": true,
            "pagingType": 'full',
            "serverSide": true,
            "ajax": "@Url.Content("~/Category/GetDataTableResult")",
            "columns": [
                { "data": "Id", "visible": false },
                { "data": "Name" },
                { "data": "Type" },
                { "data": "CrudLinks", "sortable": false, "className": "text-center" }
            ]
        });
    </script>
}