@model RussellGroup.Pims.Website.Models.BatchCheckin
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Checkout Receipt";
}

<h1>@ViewBag.Title</h1>
<h3>Checked out by: @User.Identity.Name</h3>

<hr />

<table class="table" style="table-layout: fixed">
    <thead>
        <tr>
            <th width="15%">
                job
            </th>
            <th width="15%">
                return docket
            </th>
            <th width="15%">
                plant id/new id
            </th>
            <th>
                description
            </th>
            <th width="15%">
                status
            </th>
            <th width="15%">
                condition
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.CheckinTransactions)
        {
            <tr>
                <td>@transaction.Job.BarcodeText</td>
                <td colspan="2">@transaction.ReturnDocket</td>
                <td>@transaction.Job.Description</td>
            </tr>
            foreach (var hire in transaction.PlantHires)
            {
                <tr>
                    <td colspan="2"></td>
                    <td>@hire.Plant.XPlantIdAndXPlantNewId</td>
                    <td>@hire.Plant.Description</td>
                    <td>@hire.Plant.Status.Name</td>
                    <td>@hire.Plant.Condition.Name</td>
                </tr>
            }
        }
    </tbody>
</table>


