@model IEnumerable<RussellGroup.Pims.DataAccess.Models.Job>
@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}

<h3>@ViewBag.Title</h3>

<hr />

@if (Model == null || Model.All(f => f.WhenEnded.HasValue))
{
    <p>There are no active jobs.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.XJobId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WhenStarted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectManager)
                </th>
                <th class="text-center">
                    barcode
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var job in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => job.XJobId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => job.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => job.WhenStarted)
                    </td>
                    <td>
                        @Html.DisplayFor(model => job.ProjectManager)
                    </td>
                    <td class="text-center">
                        <div class="barcode">@job.Code39</div>
                        <div class="barcode-text">@job.BarcodeText</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
