@model RussellGroup.Pims.DataAccess.Models.InventoryHire

<h3>@ViewBag.Title</h3>
<h4>@Model.Inventory.XInventoryId</h4>
<h5>@Model.Inventory.Description</h5>

<hr />

<div>
    @if (@Html.IsAction("Delete"))
    {
        <div class="alert alert-warning">
            <p>Are you sure you want to delete this hire transaction?</p>
        </div>
    }

    <dl class="dl-horizontal">
        <dt>
            type
        </dt>
        <dd>
            @if (Model is InventoryHireCheckout)
            {
                <text>Checkout</text>
            }
            else
            {
                <text>Checkin</text>
            }
        </dd>

        <dt>
            job
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.Description)
        </dd>

        <dt>
            inventory id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.XInventoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docket)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Docket)
        </dd>

        @if (Model is InventoryHireCheckout)
        {
            <dt>
                @Html.DisplayNameFor(model => (model as InventoryHireCheckout).WhenStarted)
            </dt>
            <dd>
                @Html.DisplayFor(model => (model as InventoryHireCheckout).WhenStarted)
            </dd>
        }

        @if (Model is InventoryHireCheckin)
        {
            <dt>
                @Html.DisplayNameFor(model => (model as InventoryHireCheckin).WhenEnded)
            </dt>
            <dd>
                @Html.DisplayFor(model => (model as InventoryHireCheckin).WhenEnded)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            @using (Html.BeginForm())
            {
                if (User.IsAuthorized(Role.CanEdit))
                {
                    if (Html.IsAction("Delete"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <text>&nbsp;</text>
                    }
                    else
                    {
                        <text>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.JobId, hireId = Model.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = Model.JobId, hireId = Model.Id }) |
                        </text>
                    }
                }
                @Html.ActionLink("Cancel", "Index", new { id = Model.JobId })
            }
        </dd>
    </dl>
</div>
