@model RussellGroup.Pims.DataAccess.Models.Job
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
    var hires = Model.InventoryHires.FirstOrDefault();
}
@section head {
    @Styles.Render("~/Content/datatables")
}

<h3>@ViewBag.Title</h3>
<h4>@Model.XJobId</h4>
<h5>@Model.Description</h5>

@if (User.IsAuthorized(Role.CanEdit))
{
    <p>@Html.ActionLink("Create New", "Create", new { id = Model.Id })</p>
}

<table class="table display table-striped table-hover order-column table-responsive" width="100%">
    <thead>
        <tr>
            <th>
                inventory id
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.Docket)
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.WhenStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.WhenEnded)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => hires.Rate)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => hires.Quantity)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => hires.ReturnQuantity)
            </th>
            <th></th>
        </tr>
    </thead>

</table>
@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $('.table').DataTable({
            "order": [[3, "desc"]],
            "processing": true,
            "stateSave": true,
            "pagingType": 'full',
            "serverSide": true,
            "ajax": "@Url.Content("~/InventoryHire/GetDataTableResult?id=" + Model.Id)",
            "columns": [
                { "data": "XInventoryId", "name": "Inventory.XInventoryId" },
                { "data": "Docket" },
                { "data": "WhenStarted" },
                { "data": "WhenEnded" },
                { "data": "Rate", "className": "text-right" },
                { "data": "Quantity", "className": "text-right" },
                { "data": "ReturnQuantity", "className": "text-right" },
                { "data": "CrudLinks", "sortable": false, "className": "text-right" }
            ]
        });
    </script>
}