@model RussellGroup.Pims.DataAccess.Models.Job

@{
    ViewBag.Title = "Inventory Hire Transactions";
}

<h2>@ViewBag.Title</h2>
<h3>@Model.Description</h3>

@if (User.IsAuthorized(ApplicationRole.CanEdit))
{
    <p>@Html.ActionLink("Create New", "Create", new { id = Model.JobId })</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventoryHires.SingleOrDefault().InventoryHireId)
            </th>
            <th>
                @Html.Encode("inventory id")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryHires.SingleOrDefault().Docket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryHires.SingleOrDefault().WhenStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryHires.SingleOrDefault().WhenEnded)
            </th>
            <th class="right">
                @Html.DisplayNameFor(model => model.InventoryHires.SingleOrDefault().Rate)
            </th>
            <th class="right">
                @Html.DisplayNameFor(model => model.InventoryHires.SingleOrDefault().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryHires.SingleOrDefault().Comment)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.InventoryHires)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryHireId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory.XInventoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Docket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenStarted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenEnded)
                </td>
                <td class="right">
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td class="right">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @if (User.IsAuthorized(ApplicationRole.CanEdit)) { <text>@Html.ActionLink("Edit", "Edit", new { id = item.JobId, hireId = item.InventoryHireId }) |</text> }
                    @Html.ActionLink("Details", "Details", new { id = item.JobId, hireId = item.InventoryHireId })
                    @if (User.IsAuthorized(ApplicationRole.CanEdit)) { <text> | @Html.ActionLink("Delete", "Delete", new { id = item.JobId, hireId = item.InventoryHireId })</text> }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "bProcessing": true,
                "bStateSave": true,
                "sPaginationType": 'full_numbers',
                "aoColumns": [
                    { "sWidth": "0%" },
                    { "sWidth": "10%" },
                    { "sWidth": "10%" },
                    { "sWidth": "10%" },
                    { "sWidth": "10%" },
                    { "sWidth": "10%" },
                    { "sWidth": "10%" },
                    { "sWidth": "15%" },
                    { "sWidth": "15%", "sClass": "right" }
                ],
                "aoColumnDefs": [
                    { "bVisible": false, "aTargets": [0] },
                    { "bSortable": false, "aTargets": [8] }
                ],
            });
        });
    </script>
}