@model RussellGroup.Pims.DataAccess.Models.Job

@{
    ViewBag.Title = "Inventory Hire Transactions";
    var hires = Model.InventoryHires.FirstOrDefault();
}

<h2>@ViewBag.Title</h2>
<h3>@Model.Description</h3>

@if (User.IsAuthorized(Role.CanEdit))
{
    <p>@Html.ActionLink("Create New", "Create", new { id = Model.Id })</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => hires.Id)
            </th>
            <th>
                inventory id
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.Docket)
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.WhenStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.WhenEnded)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => hires.Rate)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => hires.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.Comment)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.InventoryHires)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory.XInventoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Docket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenStarted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenEnded)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @if (User.IsAuthorized(Role.CanEdit)) { <text>@Html.ActionLink("Edit", "Edit", new { id = item.JobId, hireId = item.Id }) |</text> }
                    @Html.ActionLink("Details", "Details", new { id = item.JobId, hireId = item.Id })
                    @if (User.IsAuthorized(Role.CanEdit)) { <text> | @Html.ActionLink("Delete", "Delete", new { id = item.JobId, hireId = item.Id })</text> }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "bProcessing": true,
                "bStateSave": true,
                "sPaginationType": 'full_numbers',
                "aoColumns": [
                    { "sWidth": "0%" },
                    { "sWidth": "10%" },
                    { "sWidth": "10%" },
                    { "sWidth": "10%" },
                    { "sWidth": "10%" },
                    { "sWidth": "10%" },
                    { "sWidth": "10%" },
                    { "sWidth": "15%" },
                    { "sWidth": "15%", "sClass": "text-right" }
                ],
                "aoColumnDefs": [
                    { "bVisible": false, "aTargets": [0] },
                    { "bSortable": false, "aTargets": [8] }
                ],
            });
        });
    </script>
}