@model RussellGroup.Pims.DataAccess.Models.Job

@{
    ViewBag.Title = "Inventory Hire Transactions";
    var hires = Model.InventoryHires.FirstOrDefault();
}
@section head {
    @Styles.Render("~/Content/datatables")
}

<h2>@ViewBag.Title</h2>
<h3>@Model.Description</h3>

@if (User.IsAuthorized(Role.CanEdit))
{
    <p>@Html.ActionLink("Create New", "Create", new { id = Model.Id })</p>
}

<table class="table display table-striped table-hover order-column table-responsive" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => hires.Id)
            </th>
            <th>
                inventory id
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.Docket)
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.WhenStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.WhenEnded)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => hires.Rate)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => hires.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>

</table>
@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "order": [[3, "desc"]],
                "processing": true,
                "stateSave": true,
                "pagingType": 'full',
                "serverSide": true,
                "ajax": "@Url.Content("~/InventoryHire/GetDataTableResult?id=" + Model.Id)",
                "columns": [
                    { "data": "Id", "visible": false },
                    { "data": "XInventoryId", "name": "Inventory.XInventoryId" },
                    { "data": "Docket" },
                    { "data": "WhenStarted" },
                    { "data": "WhenEnded" },
                    { "data": "Rate", "className": "text-right" },
                    { "data": "Quantity", "className": "text-right" },
                    { "data": "CrudLinks", "sortable": false, "className": "text-right" }
                ]
            });
        });
    </script>
}