@model RussellGroup.Pims.DataAccess.Models.Job

@{
    ViewBag.Title = "Inventory Hire Transactions";
    var hires = Model.InventoryHires.FirstOrDefault();
}
@section head {
    @Styles.Render("~/Content/datatables")
}

<h2>@ViewBag.Title</h2>
<h3>@Model.Description</h3>

@if (User.IsAuthorized(Role.CanEdit))
{
    <p>@Html.ActionLink("Create New", "Create", new { id = Model.Id })</p>
}

<table class="table display table-striped table-hover order-column table-responsive" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => hires.Id)
            </th>
            <th>
                inventory id
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.Docket)
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.WhenStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.WhenEnded)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => hires.Rate)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => hires.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => hires.Comment)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.InventoryHires)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inventory.XInventoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Docket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenStarted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenEnded)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td class="text-center">
                    @if (User.IsAuthorized(Role.CanEdit))
                    { <text>@Html.ActionLink("Edit", "Edit", new { id = item.JobId, hireId = item.Id }) |</text> }
                    @Html.ActionLink("Details", "Details", new { id = item.JobId, hireId = item.Id })
                    @if (User.IsAuthorized(Role.CanEdit))
                    { <text> | @Html.ActionLink("Delete", "Delete", new { id = item.JobId, hireId = item.Id })</text> }
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "order": [[2, "desc"]],
                "processing": true,
                "stateSave": true,
                "pagingType": 'full',
                "columnDefs": [
                    { "visible": false, "targets": [0] },
                    { "sortable": false, "targets": [8] }
                ]
            });
        });
    </script>
}