@model RussellGroup.Pims.DataAccess.ViewModels.CheckinTransaction

@{
    ViewBag.Title = "Checkin";
    var plantHires = Model.PlantHires.FirstOrDefault();
    var inventoryHires = Model.InventoryHires.FirstOrDefault();
}
@section head {
    @Styles.Render("~/Content/datatables")
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.Job.Description</h4>
        <hr />

        @if (ViewData.ModelState.Any(f => string.IsNullOrEmpty(f.Key)))
        {
            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
        }

        @Html.HiddenFor(model => model.JobId)

        <div class="form-group@(ViewData.ModelState.IsValidField("Docket") ? string.Empty : " has-error")">
            @Html.Label("return docket", new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Docket, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.Docket, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlantHires, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="margin-top:-3px">
                <table id="plant-hire-table" class="table display table-striped table-hover order-column table-responsive" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th><input type="checkbox" class="check-all" /></th>
                            <th>
                                @Html.DisplayNameFor(model => plantHires.Plant.XPlantId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => plantHires.Plant.XPlantNewId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => plantHires.Docket)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => plantHires.Plant.Description)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PlantHires)
                        {
                            <tr>
                                <td>@Html.Encode(item.PlantId)</td>
                                <td><input name="@("plant-hire-id-field" + item.Id)" value="@item.Id" type="checkbox" /></td>
                                <td>@Html.DisplayFor(modelItem => item.Plant.XPlantId)</td>
                                <td>@Html.DisplayFor(modelItem => item.Plant.XPlantNewId)</td>
                                <td>@Html.DisplayFor(modelItem => item.Docket)</td>
                                <td>@Html.DisplayFor(modelItem => item.Plant.Description)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InventoryHires, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="margin-top:-3px">
                <table id="inventory-hire-table" class="table display table-striped table-hover order-column table-responsive" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th><input type="checkbox" class="check-all" /></th>
                            <th>
                                @Html.DisplayNameFor(model => inventoryHires.Inventory.XInventoryId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => inventoryHires.Inventory.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => inventoryHires.Docket)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => inventoryHires.Inventory.Description)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InventoryHires)
                        {
                            <tr>
                                <td>@Html.Encode(item.InventoryId)</td>
                                <td><input name="@("inventory-hire-id-field" + item.Id)" value="@item.Id" type="checkbox" /></td>
                                <td>@Html.DisplayFor(model => item.Inventory.XInventoryId)</td>
                                <td><input name="@("inventory-hire-quantity-field" + item.Id)" value="@item.Quantity" type="number" /></td>
                                <td>@Html.DisplayFor(model => item.Docket)</td>
                                <td>@Html.DisplayFor(model => item.Inventory.Description)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Checkin" class="btn btn-primary" />
                &nbsp;
                @Html.ActionLink("Cancel", "Index", "Job", null, new { @class = "btn-cancel" })
            </div>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            // set checkboxes if there is a postback
            @foreach (var hire in Model.PlantHires.Where(f => f.IsChecked)) { <text>$('input[name="plant-hire-id-field@(hire.Id)"]').prop('checked', true);</text> }
            @foreach (var hire in Model.InventoryHires.Where(f => f.IsChecked)) { <text>$('input[name="inventory-hire-id-field@(hire.Id)"]').prop('checked', true);</text> }

            $('#plant-hire-table').dataTable({
                "order": [[1, "asc"]],
                "processing": true,
                "stateSave": true,
                "paging": false,
                "columnDefs": [
                    { "visible": false, "targets": [0] },
                    { "sortable": false, "targets": [1] }
                ]
            });

            $('#inventory-hire-table').dataTable({
                "order": [[1, "asc"]],
                "processing": true,
                "stateSave": true,
                "paging": false,
                "columnDefs": [
                    { "visible": false, "targets": [0] },
                    { "sortable": false, "targets": [1] }
                ]
            });
        });

        $('.check-all').on('click', function () {
            $(this).closest('table').find(':checkbox').prop('checked', this.checked);
        });
    </script>
}