@model IEnumerable<RussellGroup.Pims.DataAccess.Models.Category>

@{
    ViewBag.Title = "Reports by category";
}
@section head {
    @Styles.Render("~/Content/jquery.datatable.css")
}

<h2>@ViewBag.Title</h2>

<table class="table display table-striped table-hover order-column table-responsive" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @if (item.Plants.Count > 0)
                    { <text>@Html.Raw(string.Format("<a href=\"{0}\" target=\"_blank\">{1}</a>", Url.Action("PlantLocations", new { id = item.Id }), "Plant Locations #69"))</text> }
                    else if (item.Inventories.Count > 0)
                    { <text>@Html.Raw(string.Format("<a href=\"{0}\" target=\"_blank\">{1}</a>", Url.Action("InventoryLocations", new { id = item.Id }), "Inventory Locations #71"))</text> }
                    else
                    { <text><i>No jobs available</i></text> }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    @Scripts.Render("~/bundles/jquery.datatable.js")
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "order": [[1, "asc"]],
                "processing": true,
                "stateSave": true,
                "paginationType": 'full',
                "columnDefs": [
                    { "visible": false, "targets": [0] },
                    { "sortable": false, "targets": [3] }
                ]
            });
        });
    </script>
}