@model RussellGroup.Pims.DataAccess.ReportModels.InventoryLocationsReportModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Inventory Locations";
}

<h2>@ViewBag.Title</h2>
<h3>@Model.Category.Name</h3>

@if (!Model.InventoryHireInJobs.Any())
{
    <p>There are no jobs for this category.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    job id
                </th>
                <th>
                    job
                </th>
                <th>
                    inventory id
                </th>
                <th>
                    description
                </th>
                <th class="text-right">
                    quantity
                </th>
            </tr>
        </thead>

        <tbody>
            @{int? total = 0;}

            @foreach (var job in Model.InventoryHireInJobs)
            {
                bool hasRenderedHeader = false;

                foreach (var inventory in job.InventoryHires.Select(f => f.Inventory).Distinct())
                {
                    int? quantity = 0;

                    foreach (var hire in job.InventoryHires.Where(f => f.InventoryId == inventory.Id))
                    {
                        quantity += hire is InventoryHireCheckout
                            ? (hire as InventoryHireCheckout).Quantity
                            : -(hire as InventoryHireCheckin).Quantity;
                    }

                    total += quantity;

                    if (quantity > 0)
                    {
                        if (!hasRenderedHeader)
                        {
                            hasRenderedHeader = true;
                            
                            <tr>
                                <td>
                                    <strong>@job.Job.XJobId</strong>
                                </td>
                                <td colspan="4">
                                    <strong>@job.Job.Description</strong>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="2"></td>
                            <td>
                                @Html.DisplayFor(model => inventory.XInventoryId)
                            </td>
                            <td>
                                @Html.DisplayFor(model => inventory.Description)
                            </td>
                            <td class="text-right">
                                @quantity
                            </td>
                        </tr>
                    }
                }
            }
            <tr>
                <td colspan="4"><strong>TOTAL</strong></td>
                <td class="text-right"><strong>@total</strong></td>
            </tr>
        </tbody>
    </table>
}

