@model RussellGroup.Pims.DataAccess.ReportModels.InventoryLocationsReportModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Inventory Locations";
}

<h2>@ViewBag.Title</h2>
<h3>@Model.Category.Name</h3>

@if (!Model.InventoryHireInJobs.Any())
{
    <p>There are no jobs for this category.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    job id
                </th>
                <th>
                    job
                </th>
                <th>
                    when hired
                </th>
                <th>
                    inventory id
                </th>
                <th>
                    inventory description
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var job in Model.InventoryHireInJobs)
            {
                <tr>
                    <td>
                        <strong>@job.Job.XJobId</strong>
                    </td>
                    <td colspan="4">
                        <strong>@job.Job.Description</strong>
                    </td>
                </tr>
                foreach (var item in job.InventoryHires)
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.WhenStarted)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Inventory.XInventoryId)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Inventory.Description)
                        </td>
                    </tr>
                }
            }
            <tr>
                <td><strong>TOTAL</strong></td>
                <td>
                    <strong>@Model.InventoryHireInJobs.Count() items</strong>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
}

