@model RussellGroup.Pims.DataAccess.Models.Job

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Inventory in Job";
    var hires = Model.InventoryHires.FirstOrDefault();
}

<h4>@ViewBag.Title</h4>
<h2>@Model.XJobId</h2>
<h3>@Model.Description</h3>
<h4>
    Project Manager:
    @{
        if (string.IsNullOrWhiteSpace(Model.ProjectManager))
        {
            <text><i>Not assigned</i></text>
        }
        else
        {
            <text>@Model.ProjectManager</text>
        }
    }
</h4>

@if (!Model.InventoryHires.Any())
{
    <p>There is no inventory hire for this job.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    inventory id
                </th>
                <th>
                    @Html.DisplayNameFor(model => hires.Inventory.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => hires.Docket)
                </th>
                <th>
                    @Html.DisplayNameFor(model => (hires as InventoryHireCheckout).WhenStarted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => (hires as InventoryHireCheckin).WhenEnded)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => hires.Quantity)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => hires.Comment)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var categoryType in Model.InventoryHires
                .Where(f =>
                    ((f is InventoryHireCheckout) && (f as InventoryHireCheckout).WhenStarted < ViewBag.WhenEnded.AddDays(1) ||
                    ((f is InventoryHireCheckin) && (f as InventoryHireCheckin).WhenEnded >= ViewBag.WhenStarted)))
                .Select(f => f.Inventory.Category.Type)
                .Distinct()
                .OrderBy(f => f)
                .ToList())
            {
                <tr>
                    <td colspan="7"><strong>@categoryType</strong></td>
                </tr>
                foreach (var pair in Model.InventoryHires
                    .Where(f => f.JobId == Model.Id && f.Inventory.Category.Type == categoryType)
                    .GroupBy(f => f.InventoryId))
                {
                    int? quantityBalance = 0;

                    <tr>
                        <td>
                            @Html.DisplayFor(model => pair.FirstOrDefault().Inventory.XInventoryId)
                        </td>
                        <td colspan="6">
                            @Html.DisplayFor(model => pair.FirstOrDefault().Inventory.Description)
                        </td>
                    </tr>
                    foreach (var item in pair)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                @Html.DisplayFor(model => item.Docket)
                            </td>
                            <td>
                                @(item is InventoryHireCheckout ? Html.DisplayFor(model => (item as InventoryHireCheckout).WhenStarted) : null)
                            </td>
                            <td>
                                @(item is InventoryHireCheckin ? Html.DisplayFor(model => (item as InventoryHireCheckin).WhenEnded) : null)
                            </td>
                            <td class="text-right">
                                @{
                                    var quantity = item.Quantity * (item is InventoryHireCheckout ? 1 : -1);
                                    quantityBalance += quantity;
                                }
                                @quantity
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(model => item.Comment)
                            </td>
                        </tr>
                    }
                    <tr style="background-color: #efefef">
                        <td colspan="5"><i>item closing balance</i></td>
                        <td colspan="1" class="text-right"><i>@quantityBalance</i></td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
