@model IEnumerable<RussellGroup.Pims.DataAccess.Models.Job>

@{
    ViewBag.Title = "Reports for jobs by date";
}
@section head {
    @Styles.Render("~/Content/datatables")
}

<h2>@ViewBag.Title</h2>

<div class="form-horizontal" style="margin-left: -50px; margin-top: 20px">

    <div class="form-group">
        @Html.Label("Dated from:", new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            <div class="input-group">
                @Html.TextBox("WhenStarted", (ViewBag.WhenStarted as string), "{0:d/MM/yyyy}", new { @class = "form-control" })
                <span id="WhenStarted-icon" class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("to:", new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            <div class="input-group">
                @Html.TextBox("WhenEnded", (ViewBag.WhenEnded as string), "{0:d/MM/yyyy}", new { @class = "form-control" })
                <span id="WhenEnded-icon" class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

</div>

<div class="clearfix">
    <hr />
</div>

<table class="table display table-striped table-hover order-column table-responsive" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.XJobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenEnded)
            </th>
            <th class="text-right">
                plant
            </th>
            <th class="text-right">
                inventory
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "order": [[3, "desc"]],
                "processing": true,
                "stateSave": true,
                "pagingType": 'full',
                "serverSide": true,
                "ajax": "@Url.Content("~/Report/GetDataTableResult?filtered=true")",
                "columns": [
                    { "data": "Id", "visible": false },
                    { "data": "XJobId" },
                    { "data": "Description" },
                    { "data": "WhenStarted" },
                    { "data": "WhenEnded" },
                    { "data": "PlantHires", "sortable": false, "className": "text-right" },
                    { "data": "InventoryHires", "sortable": false, "className": "text-right" },
                    { "data": "CrudLinks", "sortable": false, "className": "text-center" }
                ],
                "createdRow": function (row, data, index) {
                    $("a", row).on("click", function (e) {
                        e.preventDefault();
                        window.open(this.href + getFilterUrlParameters(), '_blank');
                    });
                }
            });
        });

        function getFilterUrlParameters() {
            var url = '?WhenStarted=' + encodeURIComponent($('#WhenStarted').val());
            url = url + '&WhenEnded=' + encodeURIComponent($('#WhenEnded').val());

            return url;
        }
    </script>
}
