@model IEnumerable<RussellGroup.Pims.DataAccess.Models.Inventory>

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
    ViewBag.Title = "Yard Inventory Stocktake";
}

<h2>@ViewBag.Title</h2>

@if (!Model.Any())
{
    <p>All inventory is checked out.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.XInventoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="text-right" width="15%">
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th class="text-right" width="15%">
                    hired quantity
                </th>
                <th class="text-right" width="15%">
                    total
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var category in Model
                .Select(f => f.Category)
                .Distinct()
                .OrderBy(f => f.Name)
                .ToList())
            {
                <tr>
                    <td colspan="5"><h4>@category.Name</h4></td>
                </tr>
                foreach (var inventory in Model
                    .Where(f => f.Category.Equals(category))
                    .OrderBy(f => f.XInventoryId))
                {
                    var checkoutQuantity = inventory.InventoryHires.Where(f => f is InventoryHireCheckout).Sum(f => f.Quantity);
                    var checkinQuantity = inventory.InventoryHires.Where(f => f is InventoryHireCheckin).Sum(f => f.Quantity);
                    var hiredQuantity = checkoutQuantity - checkinQuantity;
                    var total = inventory.Quantity + hiredQuantity;
                    
                    <tr>
                        <td>
                            @inventory.XInventoryId
                        </td>
                        <td>
                            @inventory.Description
                        </td>
                        <td class="text-right">
                            @inventory.Quantity
                        </td>
                        <td class="text-right">
                            @hiredQuantity
                        </td>
                        <td class="text-right">
                            @total
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
