@model RussellGroup.Pims.Website.Models.PlantViewModel

<h3>@ViewBag.Title</h3>
<h4>@Model.Plant.XPlantId</h4>
<h5>@Model.Plant.Description</h5>

<hr />

@if (Model.FileViewModel != null)
{
    <text>@Html.HiddenFor(model => model.FileViewModel.Id, new { Value = Model.FileViewModel.Id })</text>
    <text>@Html.HiddenFor(model => model.FileViewModel.Src, new { Value = Model.FileViewModel.Src })</text>
    <text>@Html.HiddenFor(model => model.FileViewModel.FileName, new { Value = Model.FileViewModel.FileName })</text>
}

<div>
    @if (@Html.IsAction("Delete"))
    {
        if (!Model.Plant.CanDelete)
        {
            <div class="alert alert-info">
                <h4>Cannot delete</h4>
                <p>This plant item cannot be deleted because it has a job associated to it. Delete the jobs that have this item as hired.</p>
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                <p>Are you sure you want to delete this plant item?</p>
            </div>
        }
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plant.XPlantId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.XPlantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.XPlantNewId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.XPlantNewId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.WhenPurchased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.WhenPurchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.WhenDisused)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.WhenDisused)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.Serial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.FixedAssetCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.FixedAssetCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.IsElectrical)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.IsElectrical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.IsTool)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.IsTool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.Status.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.Condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.Condition.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plant.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plant.Photograph)
        </dt>

        <dd>
            <img id="photo" alt="no photograph" class="photograph" />
        </dd>

        <dt>
            plant hire
        </dt>
        <dd>
            @if (Model.Plant.PlantHires.Any())
            {
                <text>@Html.ActionLink(string.Format("{0} transactions", Model.Plant.PlantHires.Count), "PlantHire", new { id = Model.Plant.Id })</text>
            }
            else
            {
                <text>0</text>
            }
        </dd>
    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            @using (Html.BeginForm())
            {
                if (User.IsAuthorized(Role.CanEdit))
                {
                    if (Html.IsAction("Delete"))
                    {
                        if (Model.Plant.CanDelete)
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <text>&nbsp;</text>
                        }
                    }
                    else
                    {
                        <text>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Plant.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = Model.Plant.Id }) |
                        </text>
                    }
                }
                @Html.ActionLink("Cancel", "Index")
            }
        </dd>
    </dl>
</div>
