@model RussellGroup.Pims.DataAccess.Models.Plant

<h3>@ViewBag.Title</h3>
<h4>@Model.XPlantId</h4>
<h5>@Model.Description</h5>

<div>
    @if (@Html.IsAction("Delete"))
    {
        if (!Model.CanDelete)
        {
            <div class="alert alert-info">
                <h4>Cannot delete</h4>
                <p>This plant item cannot be deleted because it has a job associated to it. Delete the jobs that have this item as hired.</p>
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                <p>Are you sure you want to delete this plant item?</p>
            </div>
        }
    }
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.XPlantId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.XPlantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XPlantNewId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.XPlantNewId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhenPurchased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhenPurchased)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WhenDisused)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhenDisused)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Serial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FixedAssetCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FixedAssetCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsElectrical)
        </dt>
        <dd>
            @Html.Encode(Model.IsElectrical.ToYesNo())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTool)
        </dt>
        <dd>
            @Html.Encode(Model.IsTool.ToYesNo())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Condition.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            plant hire
        </dt>
        <dd>
            @if (Model.PlantHires.Any())
            {
                <text>@Html.ActionLink(string.Format("{0} transactions", Model.PlantHires.Count), "PlantHire", new { id = Model.Id })</text>
            }
            else
            {
                <text>0</text>
            }
        </dd>
    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            @using (Html.BeginForm())
            {
                if (User.IsAuthorized(Role.CanEdit))
                {
                    if (Html.IsAction("Delete"))
                    {
                        if (Model.CanDelete)
                        {
                            @Html.AntiForgeryToken()
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <text>&nbsp;</text>
                        }
                    }
                    else
                    {
                        <text>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
                        </text>
                    }
                }
                @Html.ActionLink("Cancel", "Index")
            }
        </dd>
    </dl>
</div>
