@model RussellGroup.Pims.DataAccess.Models.Plant

<h2>Plant</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@SiteMaps.Current.CurrentNode.Title</h4>
        <hr />

        @if (ViewData.ModelState.Any(f => string.IsNullOrEmpty(f.Key)))
        {
            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
        }

        @Html.HiddenFor(model => model.Id)

        <div class="form-group@(ViewData.ModelState.IsValidField("XPlantId") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.XPlantId, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.XPlantId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.XPlantId, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("XPlantNewId") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.XPlantNewId, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.XPlantNewId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.XPlantNewId, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("Description") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Description, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group @(ViewData.ModelState.IsValidField("WhenPurchased") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.WhenPurchased, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.WhenPurchased, "{0:d/MM/yyyy}", new { @class = "form-control" })
                    <span class="input-group-addon">
                        <span id="WhenPurchased-icon" class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.WhenPurchased, null, new { @class = "form-control-feedback" })
        </div>

        <div class="form-group @(ViewData.ModelState.IsValidField("WhenDisused") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.WhenDisused, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.WhenDisused, "{0:d/MM/yyyy}", new { @class = "form-control" })
                    <span class="input-group-addon">
                        <span id="WhenDisused-icon" class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.WhenPurchased, null, new { @class = "form-control-feedback" })
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("Rate") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Rate, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Rate, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("Cost") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Cost, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Cost, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("Serial") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Serial, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Serial, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Serial, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("FixedAssetCode") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.FixedAssetCode, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.FixedAssetCode, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.FixedAssetCode, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("IsElectrical") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.IsElectrical, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.IsElectrical)
            </div>
            @Html.ValidationMessageFor(model => model.IsElectrical, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("IsTool") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.IsTool, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.IsTool)
            </div>
            @Html.ValidationMessageFor(model => model.IsTool, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("CategoryId") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categories as SelectList, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.CategoryId, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("StatusId") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.StatusId, ViewBag.Statuses as SelectList, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.StatusId, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("ConditionId") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Condition, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.ConditionId, ViewBag.Conditions as SelectList, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.ConditionId, null, new { @class = "help-block form-control-feedback" })
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("Comment") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            @Html.ValidationMessageFor(model => model.Comment, null, new { @class = "help-block form-control-feedback" })
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (Html.IsAction("Edit"))
                {
                    <input type="submit" value="Save" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="Create" class="btn btn-primary" />
                }
                &nbsp;
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn-cancel" })
            </div>
        </div>
    </div>
}
