@model RussellGroup.Pims.Website.Models.DemoPlant

@{
    ViewBag.Title = "Demo 1";
}

<h2>@ViewBag.Title</h2>

<br />

<div class="row">
    <div class="col-sm-offset-1 col-sm-4">
        <input id="searchCategory" class="form-control" name="searchCategory" type="text" placeholder="Search..." />
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-offset-1 col-sm-4">
        <div class="text-center">Excluded</div>
        <ol id="excluded" class="sortable-list">
            @foreach (var plant in Model.ExcludedItems)
            {
                <li id="@(plant.Category.Name + "-" + plant.Id)" class="sortable-item">
                    <div>@plant.Description</div>
                    <div class="small text-muted">@plant.Category.Name</div>
                </li>
            }
        </ol>
    </div>
    <div class="col-sm-2 col-md-1">
    </div>
    <div class="col-sm-4">
        <div class="text-center">Included</div>
        <ol id="included" class="sortable-list">
            @foreach (var plant in Model.IncludedItems)
            {
                <li id="@(plant.Category.Name + "-" + plant.Id)" class="sortable-item">@plant.Description</li>
            }

        </ol>
    </div>
</div>

<hr />

<form>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <input type="submit" value="Request" class="btn btn-primary" />
                &nbsp;
                @Html.ActionLink("Cancel", "Index")
            </div>
        </div>
    </div>
</form>

@section scripts {
    @Scripts.Render("~/bundles/multisortable")
    <script>
        $(document).ready(function () {
            $('.sortable-list').multisortable();
            $('#excluded').sortable('option', 'connectWith', '#included');
            $('#included').sortable('option', 'connectWith', '#excluded');
        });

        $('#searchCategory').keyup(function () {
            var $left = $('#excluded li');
            var re = new RegExp($(this).val(), "i"); // "i" means it's case-insensitive
            $left.show().filter(function () {
                return !re.test($(this).text());    //attr('id')); //if search by id
            }).addClass('hidden'); //.hide();

            $left.show().filter(function () {
                return re.test($(this).text());
            }).removeClass('hidden'); //.hide();
        });

    </script>
}
