@model RussellGroup.Pims.Website.Models.PlantViewModel
@{
    ViewBag.ShowAnchors = true;
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}

<h3>@ViewBag.Title</h3>
<h4>@Model.Plant.XPlantId</h4>
<h5>@Model.Plant.Description</h5>

@Html.Partial("_Form")

@section scripts
{
    <script>
        var hasPlantViewModel = '@(Model.FileViewModel != null && Model.FileViewModel.Src != null)' === '@true';
    </script>
    @Scripts.Render("~/Scripts/view-plant.js")
}