@model IEnumerable<RussellGroup.Pims.DataAccess.Models.Plant>

@{
    ViewBag.Title = "Plant";
}

<h2>@ViewBag.Title</h2>

@if (User.IsAuthorized(Role.CanEdit))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.XPlantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XPlantNewId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th class="text-right">
                jobs
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "bStateSave": true,
                "sAjaxSource": '@Url.Content("~/Plant/GetDataTableResult")',
                "sPaginationType": 'full_numbers',
                "aoColumns": [
                    { "sWidth": "0%" },
                    { "sWidth": "10%" },
                    { "sWidth": "10%" },
                    { "sWidth": "30%" },
                    { "sWidth": "20%" },
                    { "sWidth": "5%", "sClass": "text-right" },
                    { "sWidth": "10%" },
                    { "sWidth": "15%", "sClass": "text-right" }
                ],
                "aoColumnDefs": [
                    { "bVisible": false, "aTargets": [0] },
                    { "bSortable": false, "aTargets": [5, 7] }
                ],
            });
        });
    </script>
}