@model IEnumerable<RussellGroup.Pims.DataAccess.Models.Plant>
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}
@section head {
    @Styles.Render("~/Content/datatables")
}

<h3>@ViewBag.Title</h3>

@if (User.IsAuthorized(Role.CanEdit))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}
<table class="table display table-striped table-hover order-column table-responsive" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.XPlantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.XPlantNewId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                hire
            </th>
            <th>
                in use?
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $('.table').DataTable({
            "order": [[1, "asc"]],
            "processing": true,
            "stateSave": false,
            "pagingType": 'full',
            "serverSide": true,
            "ajax": "@Url.Action("GetDataTableResult")",
            "columns": [
                { "data": "XPlantId" },
                { "data": "XPlantNewId" },
                { "data": "Description" },
                { "data": "Category", "name": "Category.Name" },
                { "data": "Hire", "sortable": false, "className": "text-right" },
                { "data": "InUse", "sortable": false, "className": "text-center" },
                { "data": "Status", "name": "Status.Name" },
                { "data": "CrudLinks", "sortable": false, "className": "text-center" }
            ]
        });
    </script>
}