@model RussellGroup.Pims.DataAccess.Models.Plant

@{
    ViewBag.Title = "Jobs for " + Model.Description;
    var job = Model.PlantHires.FirstOrDefault().Job;
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => job.XJobId)
            </th>
            <th>
                @Html.DisplayNameFor(model => job.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => job.WhenStarted)
            </th>
            <th>
                @Html.DisplayNameFor(model => job.WhenEnded)
            </th>
            <th>
                @Html.DisplayNameFor(model => job.ProjectManager)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "bStateSave": true,
                "sAjaxSource": '@Url.Content("~/Plant/GetJobsDataTableResult?id=" + Model.Id)',
                "sPaginationType": 'full_numbers',
                "aoColumns": [
                    { "sWidth": "0%" },
                    { "sWidth": "10%" },
                    { "sWidth": "35%" },
                    { "sWidth": "10%" },
                    { "sWidth": "10%" },
                    { "sWidth": "30%" },
                    { "sWidth": "5%", "sClass": "right" }
                ],
                "aoColumnDefs": [
                    { "bVisible": false, "aTargets": [0] },
                    { "bSortable": false, "aTargets": [6] }
                ],
            });
        });
    </script>
}