@model RussellGroup.Pims.DataAccess.ViewModels.UserRoles

<div>
    @if (ViewBag.Title == "Details") { <h4>@ViewBag.Title</h4> }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @Html.Encode(Model.GetRoleNames())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LockoutEnabled)
        </dd>

        @if (Model.User.LockoutEndDateUtc.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.User.LockoutEndDateUtc)
            </dt>
            <dd>
                @Html.Encode(Model.User.LockoutEndDateUtc.Value.ToLocalTime().ToString())
            </dd>
        }

    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            @using (Html.BeginForm())
            {
                if (ViewBag.Title == "Details")
                {
                    <text>@Html.ActionLink("Edit", "Edit", new { id = Model.User.Id }) | </text>
                }
                else
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <text>&nbsp;</text>
                }
                @Html.ActionLink("Cancel", "Index", new { id = Model.User.Id })
            }
        </dd>
    </dl>
</div>
