@model RussellGroup.Pims.Website.Models.UserRolesViewModel

<h3>@ViewBag.Title</h3>
<h4>@Model.User.UserName</h4>

<hr />

<div>
    @if (@Html.IsAction("Delete"))
    {
        <div class="alert alert-warning">
            <p>Are you sure you want to delete this user?</p>
        </div>
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd>
            @if (string.IsNullOrWhiteSpace(Model.RoleNames))
            {
                <text>&nbsp;</text>
            }
            else
            {
                @Html.Encode(Model.RoleNames)
            }
        </dd>
    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>
        </dt>

        <dd>
            @using (Html.BeginForm())
            {
                if (Html.IsAction("Delete"))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <text>&nbsp;</text>
                }
                else
                {
                    <text>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.User.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = Model.User.Id }) |
                    </text>
                }
                @Html.ActionLink("Cancel", "Index")
            }
        </dd>
    </dl>
</div>
