@model RussellGroup.Pims.Website.Models.UserRolesViewModel

<h2>User</h2>

<div>
    <h4>@Html.GetAction()</h4>
    <hr />

    @if (@Html.IsAction("Delete"))
    {
        <h3>Are you sure you want to delete this user?</h3>
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd>
            @if (string.IsNullOrWhiteSpace(Model.RoleNames))
            {
                <text>&nbsp;</text>
            }
            else
            {
                @Html.Encode(Model.RoleNames)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LockoutEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LockoutEnabled)
        </dd>

        @if (Model.User.LockoutEndDateUtc.HasValue)
        {
            <dt>
                @Html.DisplayNameFor(model => model.User.LockoutEndDateUtc)
            </dt>
            <dd>
                @Html.Encode(Model.User.LockoutEndDateUtc.Value.ToLocalTime())
            </dd>
        }
    </dl>

    <hr />

    <dl class="dl-horizontal">
        <dt>
        </dt>

        <dd>
            @using (Html.BeginForm())
            {
                if (Html.IsAction("Details"))
                {
                    <text>@Html.ActionLink("Edit", "Edit", new { id = Model.User.Id }) | </text>
                }
                else
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <text>&nbsp;</text>
                }
                @Html.ActionLink("Cancel", "Index", new { id = Model.User.Id })
            }
        </dd>
    </dl>
</div>
