@model RussellGroup.Pims.DataAccess.ViewModels.UserRoles

@{
    ViewBag.Title = "Create";
}

<h2>User</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@ViewBag.Title</h4>
        <hr />
        @Html.ValidationSummary(true)
        @if (ViewBag.Title == "Edit")
        { <text>@Html.HiddenFor(model => model.User.Id)</text> }

        <div class="form-group">
            @Html.Label("name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.User.UserName, new { @class = "col-span-5" })
                @Html.ValidationMessageFor(model => model.User.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("locked out?", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.LockoutEnabled)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Roles, new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="margin-top:-3px">
                <table id="roles-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th><input type="checkbox" class="check-all" /></th>
                            <th>role</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Roles)
                        {
                            <tr>
                                <td>@Html.Encode(item.Id)</td>
                                <td><input name="@("role-id-field" + item.Id)" value="@item.Id" type="checkbox" /></td>
                                <td>@Html.Encode(item.Name)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (ViewBag.Title == "Edit")
                {
                    <input type="submit" value="Save" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="Create" class="btn btn-primary" />
                }
                &nbsp;
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn-cancel" })
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
    $(document).ready(function () {
        // set checkboxes if there is a postback
        @foreach (var role in Model.Roles.Where(f => f.IsChecked))
        { <text>$('input[name="role-id-field@(role.Id)"]').prop('checked', true);</text> }

        $('#roles-table').dataTable({
            "bProcessing": true,
            "bStateSave": false,
            "sPaginationType": 'full_numbers',
            "aoColumns": [
                { "sWidth": "0%" },
                { "sWidth": "5%" },
                { "sWidth": "95%" }
            ],
            "aoColumnDefs": [
                { "bVisible": false, "aTargets": [0] },
                { "bSortable": false, "aTargets": [1] }
            ]
        });
    });

    $('.check-all').on('click', function () {
        $(this).closest('table').find(':checkbox').prop('checked', this.checked);
    });
    </script>
}
