@model RussellGroup.Pims.Website.Models.UserRolesViewModel
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}
@section head {
    @Styles.Render("~/Content/datatables")
}

<h3>@ViewBag.Title</h3>

@Html.Partial("_Form")

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/Scripts/view-user-form.js")
}
