@model RussellGroup.Pims.Website.Models.UserRolesViewModel

@{
    ViewBag.Title = "Users";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LockoutEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "bProcessing": true,
                "bServerSide": true,
                "bStateSave": true,
                "sAjaxSource": '@Url.Content("~/User/GetDataTableResult")',
                "sPaginationType": 'full_numbers',
                "aoColumns": [
                    { "sWidth": "0%" },
                    { "sWidth": "30%" },
                    { "sWidth": "35%" },
                    { "sWidth": "15%", "sClass": "center" },
                    { "sWidth": "20%", "sClass": "right" }
                ],
                "aoColumnDefs": [
                    { "bVisible": false, "aTargets": [0] },
                    { "bSortable": false, "aTargets": [2, 4] }
                ],
            });
        });
    </script>
}