@model IEnumerable<RussellGroup.Pims.DataAccess.ViewModels.UserRoles>

@{
    ViewBag.Title = "Users";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Roles)
            </th>
            <th>
                locked out?
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.User.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.User.UserName)
                </td>
                <td>
                    @Html.Encode(item.GetRoleNames())
                </td>
                <td>
                    @Html.DisplayFor(model => item.User.LockoutEnabled)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.User.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.User.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.User.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "bProcessing": true,
                "bStateSave": true,
                "sPaginationType": 'full_numbers',
                "aoColumns": [
                    { "sWidth": "0%" },
                    { "sWidth": "25%" },
                    { "sWidth": "45%" },
                    { "sWidth": "15%", "sClass": "center" },
                    { "sWidth": "15%", "sClass": "right" }
                ],
                "aoColumnDefs": [
                    { "bVisible": false, "aTargets": [0] },
                    { "bSortable": false, "aTargets": [4] }
                ],
            });
        });
    </script>
}