@model RussellGroup.Pims.DataAccess.Models.Inventory

<hr />

@if (ViewData.ModelState.Any(f => string.IsNullOrEmpty(f.Key)))
{
    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-horizontal">

        <div class="form-group@(ViewData.ModelState.IsValidField("XInventoryId") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.XInventoryId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-2">
                @Html.EditorFor(m => m.XInventoryId, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                @Html.ValidationMessageFor(model => model.XInventoryId, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("Description") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                @Html.ValidationMessageFor(model => model.Description, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group @(ViewData.ModelState.IsValidField("WhenPurchased") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.WhenPurchased, new { @class = "control-label col-sm-2" })
            <div class="col-sm-3 col-lg-2">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.WhenPurchased, "{0:d/MM/yyyy}", new { @class = "form-control" })
                    <span id="WhenPurchased-icon" class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                @Html.ValidationMessageFor(model => model.WhenPurchased, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group @(ViewData.ModelState.IsValidField("WhenDisused") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.WhenDisused, new { @class = "control-label col-sm-2" })
            <div class="col-sm-3 col-lg-2">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.WhenDisused, "{0:d/MM/yyyy}", new { @class = "form-control" })
                    <span id="WhenDisused-icon" class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                @Html.ValidationMessageFor(model => model.WhenDisused, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("Rate") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Rate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-2">
                @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                @Html.ValidationMessageFor(model => model.Rate, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("Cost") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Cost, new { @class = "control-label col-sm-2" })
            <div class="col-sm-2">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                @Html.ValidationMessageFor(model => model.Cost, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("Quantity") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-sm-2" })
            <div class="col-sm-2">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                @Html.ValidationMessageFor(model => model.Quantity, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group@(ViewData.ModelState.IsValidField("CategoryId") ? string.Empty : " has-error")">
            @Html.LabelFor(model => model.Category, new { @class = "control-label col-sm-2" })
            <div class="col-sm-4">
                @Html.DropDownListFor(model => model.CategoryId, ViewBag.Categories as SelectList, new { @class = "form-control" })
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                @Html.ValidationMessageFor(model => model.CategoryId, null, new { @class = "help-block" })
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                @if (Html.IsAction("Edit"))
                {
                    <input type="submit" value="Save" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="Create" class="btn btn-primary" />
                }
                &nbsp;
                @Html.ActionLink("Cancel", "Index")
            </div>
        </div>
    </div>
}
