@model IEnumerable<RussellGroup.Pims.DataAccess.Models.Inventory>

@{
    ViewBag.Title = "Inventory";
}
@section head {
    @Styles.Render("~/Content/datatables")
}

<h2>@ViewBag.Title</h2>

@if (User.IsAuthorized(Role.CanEdit))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}
<table class="table display table-striped table-hover order-column table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.XInventoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenPurchased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenDisused)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $(document).ready(function () {
            $('.table').dataTable({
                "order": [[1, "asc"]],
                "processing": true,
                "stateSave": true,
                "pagingType": 'full',
                "serverSide": true,
                "ajax": "@Url.Content("~/Inventory/GetDataTableResult")",
                "columns": [
                    { "data": "Id", "visible": false },
                    { "data": "XInventoryId" },
                    { "data": "Description" },
                    { "data": "WhenPurchased" },
                    { "data": "WhenDisused" },
                    { "data": "Quantity", "className": "text-right" },
                    { "data": "Category", "name": "Category.Name" },
                    { "data": "CrudLinks", "sortable": false, "className": "text-center" }
                ]
            });
        });
    </script>
}