@model IEnumerable<RussellGroup.Pims.DataAccess.Models.Inventory>
@{
    ViewBag.Title = Html.MvcSiteMap().SiteMapTitle();
}
@section head {
    @Styles.Render("~/Content/datatables")
}

<h3>@ViewBag.Title</h3>

@if (User.IsAuthorized(Role.CanEdit))
{
    <p>@Html.ActionLink("Create New", "Create")</p>
}
<table class="table display table-striped table-hover order-column table-responsive" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.XInventoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                checked out quantity
            </th>
            <th>
                disused?
            </th>
            <th></th>
        </tr>
    </thead>
</table>

@section scripts {
    @Scripts.Render("~/bundles/datatables")
    <script>
        $('.table').DataTable({
            "order": [[1, "asc"]],
            "processing": true,
            "stateSave": false,
            "pagingType": 'full',
            "serverSide": true,
            "ajax": {
                url: "@Url.Action("GetDataTableResult")",
                type: "POST"
            },
            "columns": [
                { "data": "Id", "visible": false },
                { "data": "XInventoryId" },
                { "data": "Description" },
                { "data": "Category", "name": "Category.Name" },
                { "data": "Quantity", "className": "text-right" },
                { "data": "CollatedQuantity", "sortable": false, "className": "text-right" },
                { "data": "IsDisused", "sortable": false, "className": "text-center" },
                { "data": "CrudLinks", "sortable": false, "className": "text-center" }
            ]
        });
    </script>
}