<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIMS - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("head", required: false)
    @Styles.Render("~/Content/overrides")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="logo" src="@Url.Content("~/Content/dominion_constructors.png")" alt="Dominion Constructors" class="pull-left" />
                <strong class="pull-left">@Html.ActionLink("PIMS", "Index", "Home", null, new { @class = "navbar-brand" })</strong>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.MvcSiteMap().Menu(false)
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">Hello, @User.Identity.Name!</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (ViewBag.HasBreadcrumb == null || ViewBag.HasBreadcrumb)
        {
        <div class="breadcrumb">
            @Html.MvcSiteMap().SiteMapPath()
        </div>
        <div id="environment" class="pull-right">
            @System.Configuration.ConfigurationManager.AppSettings["Environment"]
        </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <small>@Html.GetCopyright()</small>
            <small class="pull-right">Version @Html.GetVersion()</small>
        </footer>
    </div>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
