@{
    //ViewBag.HideBreadcrumb = false;   // indicates if the breadcrumb is to be shown
    //ViewBag.ShowAnchors = false;      // indicates if the top and bottom hyperlink anchors are to be shown
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIMS - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("head", required: false)
    @Styles.Render("~/Content/overrides")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body id="top">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="logo" src="@Url.Content("~/Content/dominion_constructors.png")" alt="Dominion Constructors" class="pull-left" />
                <strong class="pull-left">@Html.ActionLink("PIMS", "Index", "Home", null, new { @class = "navbar-brand", title = "Plant and Inventory Management System" })</strong>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.MvcSiteMap().Menu(false)
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text">Hello, @User.Identity.Name!</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="environment" class="pull-right">
            @System.Configuration.ConfigurationManager.AppSettings["Environment"]
        </div>
        @if (ViewBag.HideBreadcrumb == null || !ViewBag.HideBreadcrumb)
        {
            <div class="breadcrumb">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        }
        @if (ViewBag.ShowAnchors != null && ViewBag.ShowAnchors)
        {
            <div class="pull-right">
                <a href="#bottom" title="go to the bottom of the page"><span class="glyphicon glyphicon-hand-down"></span></a>
            </div>
        }
        @RenderBody()
        <hr />
        @if (ViewBag.ShowAnchors != null && ViewBag.ShowAnchors)
        {
            <div id="bottom" class="pull-right">
                <a href="#top" title="go to the top of the page"><span class="glyphicon glyphicon-hand-up"></span></a>
            </div>
        }
        <footer>
            <small>@Html.GetCopyright(), Version @Html.GetVersion()</small>
        </footer>
    </div>
    @Scripts.Render("~/bundles/js")
    <script>
        $('a[href*=#]').on('click', function (event) {
            event.preventDefault();
            var offset = $(this.hash).offset();
            if (offset) $('html, body').animate({ scrollTop: offset.top }, 500);
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
